rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {
    // Allow the requestor to read or delete any resource on a path under the
    // user directory.
    match /users/{userId}/{anyUserFile=**} {
      allow read, write, delete: if request.auth.uid == userId;
    }
  }
}
